extends ../layouts/common

block content
    section.position-relative
            #particles-js
                canvas.particles-js-canvas-el(width='1898' height='315' style='width: 100%; height: 100%;')
            .container
                .row.text-center
                    .col
                        h1 Thông tin phim
                        nav(aria-label='breadcrumb')
                            ol.breadcrumb.justify-content-center.bg-transparent.p-0.m-0
                                li.breadcrumb-item
                                    a.text-dark(href='#') Trang chủ
                                li.breadcrumb-item Phim
                                li.breadcrumb-item.active.text-primary Đặt vé xem phim
    section
        .container
            .row
                .col-lg-7
                    .checkout-form
                        h2.mb-4 Thông tin thanh toán
                        form.row.row-cols-md-2.row-cols-1(method="POST" id="ticketInfo")
                            input(type="hidden", name="movieID", value=ticket.id)
                            input(type="hidden", name="movieName", value=ticket.name)
                            input(type="hidden", name="showtimeDate", value=ticket.showtimeDate)
                            input(type="hidden", name="showtimeTime", value=ticket.showtimeTime)
                            input(type="hidden", name="seat", value=ticket.seat)
                            input(type="hidden", name="total", value=ticket.total)
                            .col-md-12
                                .form-group
                                    label(for='name') Họ và tên
                                    input.form-control(type='text' name='name' placeholder='Nhập họ tên')
                            .col
                                .form-group
                                    label(for='phoneNum') Số điện thoại
                                    input.form-control(type='tel' name='phoneNum' placeholder='Nhập số điện thoại')
                            .col
                                .form-group
                                    label(for='cmnd') Số CMND
                                    input.form-control(type='number' name='cmnd' placeholder='Nhập số CMND')
                            .col-md-12
                                .form-group
                                    label(for='address') Địa chỉ
                                    textarea.form-control(rows="3" name='address' placeholder='Nhập địa chỉ')
                            .col
                                label(for='city') Thành phố
                                input#zip.form-control(type='text' name='city' placeholder='Thành phố')
                            .col
                                .form-group
                                    label(for='bankCode') Ngân hàng
                                    select.form-control#bankCode(name='bankCode')
                                        option(value='') Không chọn
                                        option(value='VNPAYQR') Ngân hàng VNPAYQR
                                        option(value='NCB') Ngân hàng NCB
                                        option(value='SCB') Ngân hàng SCB
                                        option(value='SACOMBANK') Ngân hàng SACOMBANK
                                        option(value='EXIMBANK') Ngân hàng EXIMBANK
                                        option(value='MSBANK') Ngân hàng MSBANK
                                        option(value='NAMABANK') Ngân hàng NAMABANK
                                        option(value='VISA') Ngân hàng VISA
                                        option(value='VNMART') Ngân hàng VNMART
                                        option(value='VIETINBANK') Ngân hàng VIETINBANK
                                        option(value='VIETCOMBANK') Ngân hàng VIETCOMBANK
                                        option(value='HDBANK') Ngân hàng HDBANK
                                        option(value='DONGABANK') Ngân hàng Dong A
                                        option(value='TPBANK') Ngân hàng Tp Bank
                                        option(value='OJB') Ngân hàng OceanBank
                                        option(value='BIDV') Ngân hàng BIDV
                                        option(value='TECHCOMBANK') Ngân hàng Techcombank
                                        option(value='VPBANK') Ngân hàng VPBank
                                        option(value='AGRIBANK') Ngân hàng AGRIBANK
                                        option(value='MBBANK') Ngân hàng MBBank
                                        option(value='ACB') Ngân hàng ACB
                                        option(value='OCB') Ngân hàng OCB
                                        option(value='SHB') Ngân hàng SHB
                                        option(value='IVB') Ngân hàng IVB
                .col-lg-5.mt-5.mt-lg-0.align-self-end
                    .p-3.p-lg-5.border
                        h3.mb-3 Thông tin vé
                        ul.list-unstyled.mt-5
                            li.mb-3.border-bottom.pb-3
                                |  Tên phim : 
                                span= ticket.name
                            li.mb-3.border-bottom.pb-3
                                |  Ngày chiếu : 
                                span= ticket.showtimeDate
                            li.mb-3.border-bottom.pb-3
                                |  Giờ chiếu : 
                                span= ticket.showtimeTime
                            li.mb-3.border-bottom.pb-3
                                |  Ghế ngồi : 
                                span= ticket.seat
                            li
                                span
                                    strong.cart-total  Tổng tiền : 
                                strong.cart-total= ticket.total
                    button.btn.btn-primary.btn-block(type="submit" form="ticketInfo") Đặt vé
