extends ../layouts/common

block content
    section.position-relative
        #particles-js
            canvas.particles-js-canvas-el(width='1898' height='315' style='width: 100%; height: 100%;')
        .container
            .row.text-center
                .col
                    h1 Phim đang chiếu
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb.justify-content-center.bg-transparent.p-0.m-0
                            li.breadcrumb-item
                                a.text-dark(href='#') Trang chủ
                            li.breadcrumb-item Phim
                            li.breadcrumb-item.active.text-primary Phim đang chiếu
    section.page-content
        .container
            .row.justify-content-center
                .col-lg-9.col-md-12.order-lg-12
                    if movies.length != 0
                        .row.row-cols-1.row-cols-md-2.row-cols-lg-3
                            each movie in movies
                                .col.mb-5
                                    .movie-item
                                        .movie-img.hover-translate
                                            a(href='/movies/' + movie.id)
                                                img.img-fluid.rounded.w-100(src=movie.thumbnail alt=movie.name)
                                        .movie-desc
                                            a.movie-name.mt-4.mb-2.d-block.link-title(href='/movies/' + movie.id)= movie.name
                                            p.movie-genre.text-muted= movie.genre
                        nav
                            ul.pagination.justify-content-end
                                if current > 1
                                    li.page-item.mr-2
                                        a.page-link.rounded-circle.text-dark.bg-transparent(href='/movies?page=' + (current - 1))
                                            i.fa.fa-chevron-left
                                each page in pages
                                    if current == page
                                        li.page-item.px-2.active
                                            a.page-link.border-0.rounded-circle(href='/movies?page=' + page)= page
                                    else
                                        li.page-item.px-2
                                            a.page-link.border-0.rounded-circle.text-dark(href='/movies?page=' + page)= page
                                if current < lastPage
                                    li.page-item.ml-2
                                        a.page-link.rounded-circle.text-dark.bg-transparent(href='/movies?page=' + (current + 1))
                                            i.fa.fa-chevron-right
                    else
                        .row.justify-content-center
                            p.mt-5 Không có kết quả phù hợp.
                .col-lg-3.col-md-12.order-lg-1
                    form(method="get" action="/movies/search").row.justify-content-center.mb-3
                        .col-12.mb-5
                            .form-group
                                h4.mb-5 Tìm theo tên
                                input.form-control(type='search' name='movieName' placeholder='Nhập tên phim')
                        .col-12
                            .form-group
                                h4.mb-5 Tìm theo thể loại
                                .form-check.mb-3
                                    input#all.form-check-input(type='radio' name='movieGenre' value='all' checked='')
                                    label.form-check-label(for='all')
                                        | Tất cả
                                .form-check.mb-3
                                    input#horror.form-check-input(type='radio' name='movieGenre' value='Kinh dị')
                                    label.form-check-label(for='horror')
                                        | Kinh dị
                                .form-check.mb-3
                                    input#romantic.form-check-input(type='radio' name='movieGenre' value='Tình cảm')
                                    label.form-check-label(for='romantic')
                                        | Tình cảm
                                .form-check.mb-3
                                    input#action.form-check-input(type='radio' name='movieGenre' value='Hành động')
                                    label.form-check-label(for='action')
                                        | Hành động
                                .form-check.mb-3
                                    input#cartoon.form-check-input(type='radio' name='movieGenre' value='Hoạt hình')
                                    label.form-check-label(for='cartoon')
                                        | Hoạt hình
                                .form-check.mb-3
                                    input#comedy.form-check-input(type='radio' name='movieGenre' value='Hài hước')
                                    label.form-check-label(for='comedy')
                                        | Hài hước
                                .form-check.mb-3
                                    input#sci-fi.form-check-input(type='radio' name='movieGenre' value='Giả tưởng')
                                    label.form-check-label(for='sci-fi')
                                        | Giả tưởng
                                .form-check.mb-3
                                    input#family.form-check-input(type='radio' name='movieGenre' value='Gia đình')
                                    label.form-check-label(for='family')
                                        | Gia đình
                        button.btn.btn-primary.mt-5 Tìm kiếm
