extends ../layouts/common

block content
    section.position-relative
        #particles-js
            canvas.particles-js-canvas-el(width='1898' height='315' style='width: 100%; height: 100%;')
        .container
            .row.text-center
                .col
                    h1 Phim đang chiếu
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb.justify-content-center.bg-transparent.p-0.m-0
                            li.breadcrumb-item
                                a.text-dark(href='#') Trang chủ
                            li.breadcrumb-item Phim
                            li.breadcrumb-item.active.text-primary Phim đang chiếu
    section.page-content
        .container
            .row
                .col-md-12.col-lg-9.order-lg-1
                    .row.row-cols-md-2.row-cols-lg-3
                        each movie in movies
                            .col.mb-5
                                .movie-item
                                    .movie-img.hover-translate
                                        a(href='#')
                                            img.img-fluid.rounded(src=movie.thumbnail alt='nang 3')
                                    .movie-desc
                                        a.movie-name.mt-4.mb-2.d-block.link-title(href='#')= movie.name
                                        p.movie-genre.text-muted= movie.genre
                    nav.mt-5
                        ul.pagination.justify-content-end
                            if current > 1
                                li.page-item.mr-2
                                    a.page-link.rounded-circle.text-dark.bg-transparent(href='/movies?page=' + (current - 1))
                                        i.fa.fa-chevron-left
                            each page in pages
                                if current == page
                                    li.page-item.px-2.active
                                        a.page-link.border-0.rounded-circle(href='/movies?page=' + page)= page
                                else
                                    li.page-item.px-2
                                        a.page-link.border-0.rounded-circle.text-dark(href='/movies?page=' + page)= page
                            if current < lastPage
                                li.page-item.ml-2
                                    a.page-link.rounded-circle.text-dark.bg-transparent(href='/movies?page=' + (current + 1))
                                        i.fa.fa-chevron-right
                .col-md-12.col-lg-3
                    a(href="/movies/create") Thêm phim