extends ../layouts/common

block content
    section.position-relative
            #particles-js
                canvas.particles-js-canvas-el(width='1898' height='315' style='width: 100%; height: 100%;')
            .container
                .row.text-center
                    .col
                        h1 Thông tin phim
                        nav(aria-label='breadcrumb')
                            ol.breadcrumb.justify-content-center.bg-transparent.p-0.m-0
                                li.breadcrumb-item
                                    a.text-dark(href='#') Trang chủ
                                li.breadcrumb-item Phim
                                li.breadcrumb-item.active.text-primary Thông tin phim
    section.page-content
        .container
            .row.justify-content-between
                .col-md-6
                    .d-flex.justify-content-center
                        img.img-fluid(src=movie.thumbnail alt=movie.name)
                .col-md-6.mt-5.mt-md-0
                    .product-details
                        h4.mb-4= movie.name
                        .entry-pg
                            span.pg.bg-warning.py-1.px-2.text-white.text-uppercase= movie.pg
                            span.text-warning
                                i.ml-3.fa.fa-clock-o
                                span &nbsp
                                span= movie.duration
                        table.table.table-borderless.mt-4
                            thead
                                tr
                                    th Diễn viên:
                                    th Đạo diễn:
                                    th Thể loại:
                                    th Ngày phát hành:
                                    th Quốc gia:
                                    th Điểm IMDB:
                                    th Nhà sản xuất:
                            tbody
                                tr
                                    td= movie.actor
                                    td= movie.director
                                    td= movie.genre
                                    td= movie.release
                                    td= movie.nation
                                    td= movie.imdb
                                    td= movie.producer
    section.desc-content
        .container
            .row
                .col
                    nav
                        #nav-tab.nav.nav-tabs.border-0(role='tablist')
                            a#nav-tab1.nav-item.nav-link.active.ml-0(data-toggle='tab' href='#tab3-1' role='tab' aria-selected='true') Description
                            a#nav-tab2.nav-item.nav-link(data-toggle='tab' href='#tab3-2' role='tab' aria-selected='false') Additional information
                            a#nav-tab3.nav-item.nav-link(data-toggle='tab' href='#tab3-3' role='tab' aria-selected='false') Reviews (2)
                    .tab-content.pt-5
                        #tab3-1.tab-pane.fade.show.active(role='tabpanel')
                            p.mb-0= movie.description
                        #tab3-2.tab-pane.fade(role='tabpanel')
                            form(action='/' method='POST')
                                .row
                                    .col-md-6
                                        .form-group
                                            label.text-primary(for='showtimeDate') Chọn ngày
                                            select#showtimeDate.form-control(name='showtimeDate' onchange=`changeDate(${JSON.stringify(movie)})`)
                                                each day in showtimeDate
                                                    option(value=day)= day
                                    .col-md-6
                                        .form-group
                                            label.text-primary(for='showtimeTime') Chọn giờ
                                            select#showtimeTime.form-control(name='showtimeTime' onchange=`changeTime(${JSON.stringify(movie)})`)
                                                each time in showtimeTime[showtimeDate[0]]
                                                    option(value=time)= time
                                .row
                                    .col
                                        img.img-fluid(src='/images/screen.png' alt='creen')
                                        - var seatLine = ['F','E','D','C','B','A'];
                                        #seatPlace
                                            each seatL in seatLine
                                                if seatL == 'F'
                                                    h5.my-5.font-weight-normal Ghế thường
                                                if seatL == 'D'
                                                    h5.my-5.font-weight-normal Ghế cao cấp
                                                if seatL == 'B'
                                                    h5.my-5.font-weight-normal Ghế bạch kim
                                                .row.justify-content-center.mb-6
                                                    - var i = 0;
                                                    each seatPos in movie.showtime[showtimeDate[0]][showtimeTime[showtimeDate[0]][0]][seatL]
                                                        label.seat
                                                            if seatPos
                                                                input(type='radio' name='seat' value=seatL+i)
                                                            else
                                                                input(type='radio' name='seat' disabled value=seatL+i)
                                                            span.checkmark
                                                            - i = i + 1;
                                .row.justify-content-center.mt-3
                                    .col-auto
                                        input.btn.btn-primary(type='submit' value='Tiến hành đặt vé')
    script(src="/js/seat.js")
    