extends ../../layouts/adminCommon

block content
    section.position-relative
            #particles-js
                canvas.particles-js-canvas-el(width='1898' height='315' style='width: 100%; height: 100%;')
            .container
                .row.text-center
                    .col
                        h1 Bảng điều khiển
                        nav(aria-label='breadcrumb')
                            ol.breadcrumb.justify-content-center.bg-transparent.p-0.m-0
                                li.breadcrumb-item
                                    a.text-dark(href='#') Trang chủ
                                li.breadcrumb-item Bảng điều khiển
                                li.breadcrumb-item.active.text-primary Quản lý vé
    section
        .container
            if movies
                .row.justify-content-center.align-items-center.mb-4
                    .col-md-6
                        form(method="GET")
                            .row.justify-content-center
                                .col-12
                                    .form-group
                                        label.text-primary(for='movieID') Chọn phim
                                        select.form-control(name='movieID')
                                            each movie in movies
                                                option(value= movie.id)= movie.name
                                button.btn.btn-primary.mt-2 Xem danh sách ghế
            if movie
                form(method='POST')
                    .row
                        .col-md-6
                            .form-group
                                label.text-primary(for='showtimeDate') Chọn ngày
                                select#showtimeDate.form-control(name='showtimeDate' onchange=`changeDate(${JSON.stringify(movie)})`)
                                    each day in showtimeDate
                                        option(value=day)= day
                        .col-md-6
                            .form-group
                                label.text-primary(for='showtimeTime') Chọn giờ
                                select#showtimeTime.form-control(name='showtimeTime' onchange=`changeTime(${JSON.stringify(movie)})`)
                                    each time in showtimeTime[showtimeDate[0]]
                                        option(value=time)= time
                    .row
                        .col
                            img.img-fluid(src='/images/screen.png' alt='creen')
                            - var seatLine = ['F','E','D','C','B','A'];
                            #seatPlace
                                each seatL in seatLine
                                    if seatL == 'F'
                                        h5.my-5.font-weight-normal Ghế thường
                                    if seatL == 'D'
                                        h5.my-5.font-weight-normal Ghế cao cấp
                                    if seatL == 'B'
                                        h5.my-5.font-weight-normal Ghế bạch kim
                                    .row.justify-content-center.mb-6
                                        - var i = 0;
                                        each seatPos in movie.showtime[showtimeDate[0]][showtimeTime[showtimeDate[0]][0]][seatL]
                                            label.seat
                                                if seatPos
                                                    input(type='checkbox' name='seat[]' value=seatL+i)
                                                else
                                                    input(type='checkbox' name='seat[]' checked value=seatL+i)
                                                span.checkmark
                                                - i = i + 1;
                    .row.justify-content-center.mt-3
                        .col-auto
                            input.btn.btn-primary(type='submit' value='Cập nhật thông tin')
    script(src="/js/seatAdmin.js")